.slide {
    height: 100vh;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

#cover {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(wave.jpg);
    background-size: cover;
    /* Fallback font-size */
    font-size: 50px;
    color: white;
}

.content {
    padding-left: 5px;
    padding-right: 5px;
}

#content {
    display: flex;
    justify-content: center;
}

.container-medium {
    width: 600px;
    text-align: justify;
}
.container-small {
    width: 400px;
    text-align: justify;
}
.citation {
    font-family: cursive;
    text-align: right;
    font-size: 24px;
}
.photos {
    position: relative;
}
.photo-container {
    position: absolute;
}
.photo {
    background-image: url(empty-photo.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.photo-container:hover .photo {
    z-index: 9998;
    transform: scale(1.1);
}
.fullscreen {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.bg-1 {
    background-color: rgb(32, 109, 156);
    color: white;
}
.bg-2 {
    background-color: rgb(11, 55, 82);
    color: white;
}
.bg-3 {
    background-color: rgb(165, 213, 243);
    color: black;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32;
}

p {
    font-size: 24;
    text-indent: 40px;
    text-align: justify;
}

.spacer-400 {
    height: 400px;
}

.spacer-148 {
    height: 148px;
}

.spacer-48 {
    height: 48px;
}

.spacer-24 {
    height: 14px;
}

body {
    margin: 0;
}

/*  Code from https://blog.hubspot.com/website/hide-scrollbar-css
    hide scrollbar but allow scrolling */
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.photo-1 {
    background-image: url('lorem-ipsum.jpg');
    box-shadow: -5px 10px 6px rgb(33, 33, 33, .5);
}