#cover {
    height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(wave.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    color: white;
    margin: 0;
    z-index: 1000;
}

.image {
    background-image: url(empty-photo.png);
    background-size: cover;
    background-position: center;
}

tbody, tr {
    width: 800px;
    padding: 5px;
}

.photos {
    position: relative;
}

.photo {
    position: absolute;
    background-image: url(empty-photo.png);
    background-position: center;
    background-size: cover;
}

table {
    display: table;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32;
}

p {
    font-size: 24;
    text-indent: 40px;
}

.spacer-400 {
    height: 400px;
}

.spacer-148 {
    height: 148px;
}

.spacer-48 {
    height: 48px;
}

.spacer-24 {
    height: 14px;
}

body {
    margin: 0;
}

/*  Code from https://blog.hubspot.com/website/hide-scrollbar-css
    hide scrollbar but allow scrolling */
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.diagonal-box-left {
    background-color: #00008b;
    transform: skewY(-5deg);
    height: 100vh;
}
.horizontal-content-left {
    max-width: 50em;
    margin: 0 auto;
    transform: skewY(5deg);
    text-align: justify;
    margin: 0 auto;
    color: white;
}
.diagonal-box-right {
    background-color: #ADD8E6;
    transform: skewY(5deg);
    height: 100vh;
}
.horizontal-content-right {
    max-width: 50em;
    margin: 0 auto;
    transform: skewY(-5deg);
    text-align: justify;
    margin: 0 auto;
}
